.clarity-button {
  float: right;
  padding: 16vh 10vh;
}

.App {
  background-image: url("./clarity.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  height: 100vh;
}

.rating-buttons {
  position: absolute;
  bottom: 0;
  left: 23.5vw;
}

.rating-button-mid {
  background-color: orange;
  border: none;
  color: white;
  width: 5vh;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 2vh;
  margin: 0.5vh;
  border-radius: 50%;
}
.rating-button-warning {
  background-color: red;
  border: none;
  color: white;
  width: 5vh;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 2vh;
  margin: 0.5vh;
  border-radius: 50%;
}
.rating-button-safe {
  background-color: green;
  border: none;
  color: white;
  width: 5vh;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 2vh;
  margin: 0.5vh;
  border-radius: 50%;
}

.rating-button-mid:hover {
  border: 0.2vh solid black;
  background-color: white;
  color: black;
}
.rating-button-warning:hover {
  border: 0.2vh solid black;
  background-color: white;
  color: black;
}
.rating-button-safe:hover {
  border: 0.2vh solid black;
  background-color: white;
  color: black;
}

.subscribe-info {
  text-align: center;
  padding: 1vh;
}
