.clarity-button {
  float: right;
  padding: 120px 100px;
}

.App {
  background-image: url("./clarity.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  height: 100vh;
}

.rating-buttons {
  position: absolute;
  bottom: 0;
  left: 340px;
}

.rating-button-mid {
  background-color: orange;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.rating-button-warning {
  background-color: red;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}
.rating-button-safe {
  background-color: green;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.rating-button-mid:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}
.rating-button-warning:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}
.rating-button-safe:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
}

.subscribe-info {
  text-align: center;
  padding: 10px;
}
